*.log
.DS_Store
dist/
.next/
.turbo/
.vercel/
.eslintcache
*.tsbuildinfo

node_modules/
package-lock.json
yarn.lock
.yalc
yalc.lock

coverage/
playwright/
__generated__/

packages/*/*/
!packages/*/src/
!packages/tests/*/
packages/tests/node_modules
